version: "3.9"

services:

  api1:
    build: .
    container_name: devops_api_1
    ports:
      - "8001:8000"

  api2:
    build: .
    container_name: devops_api_2
    ports:
      - "8002:8000"

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api1
      - api2
